body{
    margin: 0px;
    padding: 0px;
    border: 0;
}
header{
    width: 100%;
    height: 100%;
}
#logo img{
    width: 25%;
    height: 25%;

}

#menu ul li {
    display: inline-block;
    color: #8b8b8b;
    /* cor dos menus mas ainda não vai  */
    position: relative;
    top: 25%;
    margin-left: 20px; 

    /* espaçamento emtre as letras */
    /*cor*/
   
    /* margin-top: 10px;  */
}

/*cor dos botoes*/
#menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

#menu ul li a:hover {
    color: #00bac6;
}

#menu ul li a {
    color: white;
    /* tag do link */
    text-decoration: none;
    /* remove o que estava embaico  */
    font-weight: 15px;
    text-transform: uppercase;
    height: 20px;
    /* letras maiculas ou miculas ou todas letras maiculas*/
}

#menu ul {
    background-color: black;
    height: 50px;
}
#menu input{
    position: relative;
    top: 30%;
    left: 8%;
}
#menu input:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid #1877f2;
    outline: 0;
}
#menu input{
    border: 1px solid #dddfe2;  
    /* border-radius: 6px; */
    text-indent: 10px;
    font-size: 15px;
    height: 40%;
    /* margin-left: 20px; */
}
button{
    position: relative;
    left: 14%;
    top: 25%;
    width: 100px;
    cursor: pointer;
    background-color: #5f5a0f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@keyframes modal {
    form {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.modal-container.mostrar {
    display: flex;
}


.fechar {
    position: absolute;
    font-size: 1.6em;
    top: -30px;
    /* right: 20%; */
   left: 290px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    cursor: pointer;
    font-family: monospace;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.modal {
    background-color: white;
    width: 1%;
    min-width: 190px;
    padding: 60px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-image: radial-gradient(red, yellow);

}
.modal input{
    margin: 10px;
}
.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    /*sempre por cima de todo o site*/
    display: none;
    justify-content: center;
    align-items: center;
}


.email{
    width: 45px;
    height: 4px;
    position: relative;
    right: 3%;
    top: 40%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 0.5s ease-in-out;
    float: right;
    /* margin-top: -36px; */
    cursor: pointer;
    /* margin-right: 40px; */
   /* text-align: center;
    width: 15%;
    cursor: pointer;*/
}
.email::before,
.email::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.email::before{
    transform: translateY(-12px);
}
.email::after{
    transform: translateY(12px);
}
/*.email img{
    margin-top: -47px;
}*/

.tudo {
    background-color: rgb(26, 24, 24);
    height: 400px;
}

.menuninha {
    padding-left: 30px;
    color: white;
    float: left;
    width: 350px;
}

.menuninha h2 {
    padding-left: 50px;
}

.menuninha ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
    /* float: left; horizontal */
}

.menuninha ul li {
    padding: 10px;
    list-style: none;
}

.menuninha ul li a:hover {
    text-decoration: underline;
}

.Redes h2 {
    color: white;
    position: absolute;
    left: 450px;
}
.Redes{
    display: inline-block;
}
.Redes ul {
    list-style: none;
    padding: 70px;
}
.Redes img{
    padding: 15px;
}

.Sobre {
    color: white;
    width: 500px;
    float: right;
    position: relative;
   
}

.Fim {
    background-color: rgb(136, 127, 127);
    height: 53px;
    padding: 2px;
}

.Fim p {
    float: left;
    color: white;
    margin-left: 20px;
}
